env
access/__pycache__
*.pyc
trelco/trelco/__pycache__/
trelco/trelco/__pycache__/settings.cpython-36.pyc
__pycache__
access/migrations
trelco/access/migrations/0001_initial.py
trelco/trelco/__pycache__/settings.cpython-36.pyc
trelco/access/__pycache__/models.cpython-36.pyc
